@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
body {
    background: radial-gradient(circle at 50.4% 50.5%, rgb(251, 32, 86) 0%, rgb(135, 2, 35) 90%);
    color: rgb(0, 0, 0);
    font-family:New Rocker;

}

    h1 {color:white;
        text-align: center;
        font-size: 45px;
        color: #FFFFFF;
        text-shadow: 3px 5px 2px #000000;
        color: #FFFFFF;
        }
        
    

     h2 {color:rgb(194, 24, 24);
        font-size: 30px;
}

         h3 {font-weight: 100px;
        font-size: 25px;
    }

    .recipe-section {
        border: 3px solid black;
        padding: 10px;
        margin: 30px 30px;
        border-radius: 50px;
        background: rgb(242, 239, 239);
        box-shadow: 5px 5px 13px 4px rgba(0, 0, 0, 0.91);
    }
    
    a {
        color: rgb(255, 255, 152);
        text-decoration: underline;
        font-weight: bolder;
         background: lightgray;
        padding: 4px 10px;
        border: 1px solid black;
        border-radius: 20px;
        color: black
    }
    img {
        border: 2px solid black;
        padding: 5px;
     box-shadow: 5px 5px 18px -1px rgba(0,0,0,0.91);
}
    
    a:hover {
        color: rgb(194, 24, 24);
    }
    h3, li {
  font-family: "Helvetica";
    }

}